
#box {
    width:600px;
     /*   height:100px;
 */  /* background-color:#CAE0DC;
 	/*float: center; /* Alinha uma DIV */
    border-radius:10px;
}

#listar{
	width: 600;
/*	background-color:#D9FFFE;*/
	border-radius: 10px;
/*	border-color: black;
	border-width: 01px; */
	margin-right: 50em;
}

